form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8%;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  font-size: large;
}
label > input,
button {
  padding: 16px;
  width: 300px;
  /* height: 32px; */
  font-size: large;
  border-radius: 8px;
  border: 1px solid burlywood;
}
button {
  margin-top: 12px;
  background: burlywood;
  cursor: pointer;
}
button:focus,
button:hover {
  background: rgb(220, 158, 76);
}
