input,
button,
div {
  display: block;
  margin: 24px auto;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}
input,
button {
  margin-top: 8%;
  padding: 12px;
  width: 212px;
  border-radius: 8px;
  border: 1px solid aquamarine;
}
button {
  background: aquamarine;
  cursor: pointer;
}
button:focus,
button:hover {
  background: rgb(99, 247, 198);
}

.timer {
  display: flex;
  max-width: 400px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 32px;
}
